#awaken-my-love {
    background: #4682B4;
}

#beerbongs-and-bentleys {
    background: #c7c628;
}

#born-to-die {
    background: #a2b7dd;
}

#damn {
    background: #96807b;
}

#astroworld {
    background: #eac161;
}

#ctrl {
    background: #8d9779;
}

#doo-wops-and-hooligans {
    background: #f3bf2f;
}

#take-care {
    background: #866a4d;
}

#loud {
    background: #d84471;
}