#awaken-my-love {
    background: #4682B4;
}

#beerbongs-and-bentleys {
    background: #c7c628;
}

#born-to-die {
    background: #a2b7dd;
}

#damn {
    background: #96807b;
}

#astroworld {
    background: #eac161;
}

#ctrl {
    background: #8d9779;
}

#doo-wops-and-hooligans {
    background: #f3bf2f;
}

#take-care {
    background: #866a4d;
}

#loud {
    background: #d84471;
}

#the-college-dropout {
    background: #d58d30;
}

#renaissance {
    background: #8a9fb1;
}

#hardstone-psycho {
    background: #74888d;
}

#alone-at-prom {
    background: #d3843f;
}

#i-never-liked-you {
    background: #c5694a;
}

#unorthodox-jukebox {
    background: #f5efdf;
}

#f-1-trillion {
    background: #abc6d3;
}